* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    overflow: hidden;
}

h1 {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 1.2em;
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.link_styles {
    text-decoration: none;
    color: #fff;
}

:root {
    --primary_color: #17252a;
    --secondary_color: #3aafa9;
}

.splash_styles {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
    position: fixed;
    z-index: 2;
}

.main_container > div {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
    overflow-y: scroll;
}

.splash_elements_container {
    width: 400px;
}

.cog_loading_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.splash_cog {
    height: 85px;
    position: relative;
    margin-bottom: 15px;
}

.splash_cog:nth-of-type(1) {
    bottom: 10px;
}

.splash_cog:nth-of-type(2) {
    height: 60px;
    right: 13px;
}

.progress_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress_label {
    color: #fff;
    margin-bottom: 5px;
}

.progress_bar {
    width: 100%;
    border: 1px solid #fff;
}

.splash_texts_container {
    color: var(--primary_color);
}

.splash_header {
    margin: 30px 0 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: #fff;
    padding: 0 4%;
}

.nav_li_container {
    display: flex;
    list-style: none;
}

.nav_li_container > li {
    margin-right: 60px;
}

.anchorLink_style {
    cursor: pointer;
}

.home_section {
    width: 100%;
    background-color: var(--primary_color);
    background-image: url(../assets/images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header_elems_container {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.img_header_container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text {
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: var(--primary_color);
    text-align: center;
    color: #fff;
}

.home_about {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    min-height: 500px;
}